Repository CodingBlackFemales/wordpress: changes, and which lefthook commands are due for each by the changed paths.
All: lintjs, lintcss, lintphp

lefthook.yml:

# Refer to following link for explanation:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitizen:
      interactive: true
      run: "LEFTHOOK=0;sh -c ': >/dev/tty' > /dev/null 2>&1; if sh -c ': >/dev/tty' >/dev/null 2>/dev/null; then ( exec < /dev/tty && npx cz ) || true 2> /dev/null; fi"
      # run: LEFTHOOK=0 && npx cz

# Use this to validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: npm run lint:commit --edit ${1}

# Use this to lint files before committing
pre-commit:
  parallel: true
  commands:
    lintjs:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.js"
      run: npm run lint:js -- --fix {staged_files}
      stage_fixed: true
    lintcss:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.{css,scss}"
      run: npm run lint:css -- --fix {staged_files}
      stage_fixed: true
    lintphp:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.php"
      run: ./.phpcbf {staged_files}
      stage_fixed: true

feat: implement Phase 4 content preview (P4.1-P4.4)
  web/app/plugins/cbf-slides-importer/assets/css/admin/cbf-slides-importer.css
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Api/PreviewController.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/PreviewRenderer.php
Due: lintjs, lintcss, lintphp

docs: mark P4.1-P4.4 complete, update plan to v1.7.0
  plans/cbf-slides-importer-plugin.md
Due: none

fix: resolve image src URLs in preview HTML
  web/app/plugins/cbf-slides-importer/includes/Import/PreviewRenderer.php
Due: lintphp

fix: preview respects slide map settings; add white background
  web/app/plugins/cbf-slides-importer/assets/css/admin/cbf-slides-importer.css
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Api/PreviewController.php
Due: lintjs, lintcss, lintphp

fix: respect slide-map overrides in preview and constrain content width
  web/app/plugins/cbf-slides-importer/assets/css/admin/cbf-slides-importer.css
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
Due: lintjs, lintcss

feat: add import idempotency via config hash and conflict warning
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
Due: lintjs, lintphp

feat: revert-on-error import guard (P5.4)
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
Due: lintphp

feat: import confirmation modal with inline conflict handling (P5.7)
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
Due: lintjs

feat: close config panel on import trigger, rely on status badges (P5.8)
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
Due: lintjs

feat: replace lesson-with-topics mode with topic mode
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/ConfigController.php
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Api/PreviewController.php
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
  web/app/plugins/cbf-slides-importer/includes/Install.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/BlockRenderer.php
Due: lintjs, lintphp

feat: support learndash custom labels in admin ui
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Admin/Assets.php
Due: lintjs, lintphp

feat: add local pptx file upload as alternative to drive picker
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
Due: lintjs, lintphp

chore: commit outstanding changes
  tools/slides-to-learndash/.gitignore
  web/app/advanced-cache.php
  web/app/plugins/cbf-multisite/package-lock.json
  web/app/plugins/sfwd-lms/languages/learndash-en_GB.po
  web/app/plugins/sfwd-lms/languages/learndash-en_US.po
  web/app/uploads/.gitkeep
Due: none

chore: fix stylelint errors
  package.json
  web/app/themes/cbf-academy/assets/css/custom.css
  web/app/themes/cbf-academy/assets/css/editor-style.css
Due: lintcss
