Repository CodingBlackFemales/wordpress: changes, and which lefthook commands are due for each by the changed paths.
All: lintjs, lintcss, lintphp

lintjs:
  run: npm run lint:js -- --fix {staged_files}
  stage_fixed: true

lintcss:
  run: npm run lint:css -- --fix {staged_files}
  stage_fixed: true

lintphp:
  run: ./.phpcbf {staged_files}
  stage_fixed: true

fix: re-parse PPTX on import; add lesson title field
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
Due: lintjs, lintphp

docs: update plan with bug-fix section and P3.4 completion
  plans/cbf-slides-importer-plugin.md
Due: none

chore: bump plugin version to 1.0.3 to bust JS cache
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
Due: none

fix: fix image paths for ELDBC_Media upload and exclude footer shapes
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/BlockRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/GeometryDetector.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/Parser.php
Due: lintphp

fix: deduplicate contiguous identical slide headings
  web/app/plugins/cbf-slides-importer/includes/Pptx/BlockRenderer.php
Due: lintphp

fix: remove spurious <p> tags from list items
  web/app/plugins/cbf-slides-importer/includes/Pptx/BlockRenderer.php
Due: lintphp

fix: restore scroll position after picker opens; re-enable button on dismiss
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
Due: lintjs

fix: revert button label on picker ready; fix scroll position capture timing
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
Due: lintjs

fix: intercept scroll event to prevent picker-induced page jump
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
Due: lintjs

feat(P2.11): hourly cleanup cron — stale job reset and orphaned tmp purge
  web/app/plugins/cbf-slides-importer/includes/Import/Janitor.php
  web/app/plugins/cbf-slides-importer/includes/Install.php
  web/app/plugins/cbf-slides-importer/includes/Main.php
Due: lintphp

feat(P3.3,P3.5): slide map UI + slide_overrides wiring
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
Due: lintjs, lintphp

fix: skipped posts visible in action column; add overwrite toggle
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
Due: lintjs, lintphp

fix: track skipped_post_ids separately from created_post_ids
  web/app/plugins/cbf-slides-importer/assets/css/admin/cbf-slides-importer.css
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
Due: lintjs, lintcss, lintphp

feat: implement Phase 4 content preview (P4.1-P4.4)
  web/app/plugins/cbf-slides-importer/assets/css/admin/cbf-slides-importer.css
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Api/PreviewController.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/PreviewRenderer.php
Due: lintjs, lintcss, lintphp

Path conditions:
  lintjs: any of: web/app/{themes,plugins}/cbf-*/**/*.js
  lintcss: any of: web/app/{themes,plugins}/cbf-*/**/*.{css,scss}
  lintphp: any of: web/app/{themes,plugins}/cbf-*/**/*.php
