Repository CodingBlackFemales/wordpress: changes, and which lefthook commands are due for each by the changed paths.
All: lintjs, lintcss, lintphp

lefthook.yml:

# Refer to following link for explanation:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitizen:
      interactive: true
      run: "LEFTHOOK=0;sh -c ': >/dev/tty' > /dev/null 2>&1; if sh -c ': >/dev/tty' >/dev/null 2>/dev/null; then ( exec < /dev/tty && npx cz ) || true 2> /dev/null; fi"
      # run: LEFTHOOK=0 && npx cz

# Use this to validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: npm run lint:commit --edit ${1}

# Use this to lint files before committing
pre-commit:
  parallel: true
  commands:
    lintjs:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.js"
      run: npm run lint:js -- --fix {staged_files}
      stage_fixed: true
    lintcss:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.{css,scss}"
      run: npm run lint:css -- --fix {staged_files}
      stage_fixed: true
    lintphp:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.php"
      run: ./.phpcbf {staged_files}
      stage_fixed: true

feat: scaffold cbf-slides-importer plugin (P0.8/P0.9 + Phase 1)
  .gitignore
  web/app/plugins/cbf-slides-importer/.gitignore
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/composer.json
  web/app/plugins/cbf-slides-importer/composer.lock
  web/app/plugins/cbf-slides-importer/i18n/languages/.gitkeep
  web/app/plugins/cbf-slides-importer/includes/Admin/Assets.php
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/Main.php
  web/app/plugins/cbf-slides-importer/includes/Admin/SettingsPage.php
  web/app/plugins/cbf-slides-importer/includes/Api/AuthController.php
  web/app/plugins/cbf-slides-importer/includes/Api/ConfigController.php
  web/app/plugins/cbf-slides-importer/includes/Api/DriveController.php
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Api/PreviewController.php
  web/app/plugins/cbf-slides-importer/includes/Api/Router.php
  web/app/plugins/cbf-slides-importer/includes/Assets.php
  web/app/plugins/cbf-slides-importer/includes/Crypto.php
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
  web/app/plugins/cbf-slides-importer/includes/Google/OAuthClient.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
  web/app/plugins/cbf-slides-importer/includes/Install.php
  web/app/plugins/cbf-slides-importer/includes/Main.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/BlockRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/GeometryDetector.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/Parser.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/SlideClassifier.php
  web/app/plugins/cbf-slides-importer/includes/Utils.php
  web/app/plugins/cbf-slides-importer/index.php
  web/app/plugins/cbf-slides-importer/uninstall.php
Due: lintphp

docs: update plan to v1.5.0 — P0.8/P0.9 complete
  plans/cbf-slides-importer-plugin.md
Due: none

fix: resolve MariaDB strict-mode TEXT default and required plugin path
  web/app/plugins/cbf-slides-importer/includes/Install.php
  web/app/plugins/cbf-slides-importer/includes/Main.php
Due: lintphp

chore: add CBF_SI_ENCRYPTION_KEY to Lando dev environment
  .lando.yml
Due: none

fix: use wp_unslash+trim instead of sanitize_textarea_field for client secret
  web/app/plugins/cbf-slides-importer/includes/Admin/SettingsPage.php
Due: lintphp

fix: call OAuthClient::create_auth_url() from auth/begin endpoint
  web/app/plugins/cbf-slides-importer/includes/Api/AuthController.php
Due: lintphp

fix: replace REST link with admin_post action for OAuth begin flow
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/Main.php
  web/app/plugins/cbf-slides-importer/includes/Admin/OAuthBridge.php
  web/app/plugins/cbf-slides-importer/includes/Api/AuthController.php
Due: lintphp

fix: encode user_id in OAuth state to avoid REST cookie-auth dependency
  web/app/plugins/cbf-slides-importer/includes/Api/AuthController.php
  web/app/plugins/cbf-slides-importer/includes/Google/OAuthClient.php
Due: lintphp

feat: Drive file picker UI and import job list
  web/app/plugins/cbf-slides-importer/.gitignore
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Admin/Assets.php
Due: lintjs, lintphp

fix: resolve picker UI and parse failures
  web/app/plugins/cbf-slides-importer/.eslintrc.js
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/includes/Install.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/BlockRenderer.php
Due: lintjs, lintphp

feat: phase 3 config UI - mode toggle, course selector, import config
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/includes/Admin/Assets.php
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
Due: lintjs, lintphp

fix: correct learndash-bulk plugin integration in LearnDashImporter
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
Due: lintphp

fix: handle exportSizeLimitExceeded with direct Docs export URL fallback
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
Due: lintphp

fix: re-parse PPTX on import; add lesson title field
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
Due: lintjs, lintphp
