Repository CodingBlackFemales/wordpress: changes, and which lefthook commands are due for each by the changed paths.
All: lintjs, lintcss, lintphp

lefthook.yml:

# Refer to following link for explanation:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitizen:
      interactive: true
      run: "LEFTHOOK=0;sh -c ': >/dev/tty' > /dev/null 2>&1; if sh -c ': >/dev/tty' >/dev/null 2>/dev/null; then ( exec < /dev/tty && npx cz ) || true 2> /dev/null; fi"
      # run: LEFTHOOK=0 && npx cz

# Use this to validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: npm run lint:commit --edit ${1}

# Use this to lint files before committing
pre-commit:
  parallel: true
  commands:
    lintjs:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.js"
      run: npm run lint:js -- --fix {staged_files}
      stage_fixed: true
    lintcss:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.{css,scss}"
      run: npm run lint:css -- --fix {staged_files}
      stage_fixed: true
    lintphp:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.php"
      run: ./.phpcbf {staged_files}
      stage_fixed: true

feat(slides-importer): navigate between screens with tabs
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/SettingsPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/Tabs.php
Due: lintphp

fix(slides-importer): register the settings screen with no parent
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/SettingsPage.php
Due: lintphp

fix(slides-importer): keep the LearnDash menu open on the settings screen
  web/app/plugins/cbf-slides-importer/includes/Admin/SettingsPage.php
Due: lintphp

refactor(slides-importer): satisfy the project coding standard
  web/app/plugins/cbf-slides-importer/includes/Admin/SettingsPage.php
  web/app/plugins/cbf-slides-importer/includes/Api/AuthController.php
  web/app/plugins/cbf-slides-importer/includes/Api/ConfigController.php
  web/app/plugins/cbf-slides-importer/includes/Document/SlideClassifier.php
  web/app/plugins/cbf-slides-importer/includes/Google/OAuthClient.php
  web/app/plugins/cbf-slides-importer/includes/Import/Janitor.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/PreviewRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Main.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/Parser.php
Due: lintphp

fix(slides-importer): renew google tokens without the api client
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/includes/Google/OAuthClient.php
Due: lintphp

build: fix composer scripts
  composer.json
  composer.lock
  package-lock.json
  package.json
  phpcs.xml
  web/app/plugins/cbf-multisite/package-lock.json
  web/app/plugins/cbf-slides-importer/composer.json
  web/app/plugins/cbf-slides-importer/composer.lock
Due: none

feat(slides-importer): show and change the connected google account
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/OAuthBridge.php
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
  web/app/plugins/cbf-slides-importer/includes/Google/OAuthClient.php
Due: lintphp

ci: debug failure in deployment step
  .github/workflows/deploy-application.yml
Due: none

ci: enable strict errors after NVM
  .github/workflows/deploy-application.yml
Due: none

ci: always install/use Node LTS
  .github/workflows/deploy-application.yml
Due: none

ci: remove redundant output
  .github/workflows/deploy-application.yml
Due: none

style(slides-importer): put the account actions on their own line
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
Due: lintphp

chore: rename argument
  scripts/sync.sh
Due: none

chore: fix db export command
  scripts/sync.sh
Due: none

docs: update sync.sh header
  scripts/sync.sh
Due: none

chore: suppress password reset emails
  .gitignore
  web/app/mu-plugins/cbf-password-change-notification.php
Due: none

chore(deps): update Composer dependencies
  composer.lock
  web/app/plugins/cbf-multisite/package-lock.json
Due: none

chore(release): 0.1.55
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps): update Composer depencencies
  composer.json
  composer.lock
  web/app/plugins/cbf-multisite/package-lock.json
  web/app/plugins/cbf-slides-importer/composer.lock
Due: none

feat: extend importer to support quizzes
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Api/PreviewController.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchPlanner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRunner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/CsvParser.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/DriveUrl.php
  web/app/plugins/cbf-slides-importer/includes/Document/ParserFactory.php
  web/app/plugins/cbf-slides-importer/includes/Forms/Parser.php
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
  web/app/plugins/cbf-slides-importer/includes/Google/FormsClient.php
  web/app/plugins/cbf-slides-importer/includes/Google/OAuthClient.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/PreviewRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Import/QuizImporter.php
  web/app/plugins/cbf-slides-importer/tests/Support/wordpress-stubs.php
  web/app/plugins/cbf-slides-importer/tests/Unit/CsvParserTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/FormsParserTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/ParserFactoryTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/PreviewRendererTest.php
  web/app/plugins/cbf-slides-importer/tests/_data/bin/form.gform
Due: lintjs, lintphp

fix: resolve MySQL versioning error
  scripts/sync.sh
Due: none
