Repository CodingBlackFemales/wordpress: changes, and which lefthook commands are due for each by the changed paths.
All: lintjs, lintcss, lintphp

lintjs:
  run: npm run lint:js -- --fix {staged_files}
  stage_fixed: true

lintcss:
  run: npm run lint:css -- --fix {staged_files}
  stage_fixed: true

lintphp:
  run: ./.phpcbf {staged_files}
  stage_fixed: true

chore(deps): update Compoer dependencies
  composer.lock
Due: none

feat: link topics and quizzes to imported sessions
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchPlanner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchReport.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRunner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/CsvParser.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/ParentResolver.php
  web/app/plugins/cbf-slides-importer/tests/Unit/BatchReportTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/CsvParserTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/ParentResolverTest.php
Due: lintjs, lintphp

refactor: fix lint errors
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchPlanner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRunner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/ParentResolver.php
  web/app/plugins/cbf-slides-importer/includes/Forms/Parser.php
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
  web/app/plugins/cbf-slides-importer/includes/Google/FormsClient.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/PreviewRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Import/QuizImporter.php
  web/app/plugins/cbf-slides-importer/tests/Unit/BatchReportTest.php
Due: lintphp

chore(release): 0.1.56
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(deps): update Composer dependencies
  composer.lock
  web/app/plugins/cbf-multisite/package-lock.json
  web/app/plugins/cbf-slides-importer/composer.lock
Due: none

chore: update .gitignore with new plugins
  .gitignore
Due: none

chore: apply missing WP Rocket change
  web/app/advanced-cache.php
Due: none

chore: add migration skills
  .agents/skills/cbf-academy-style/SKILL.md
  .agents/skills/cbf-academy-style/assets/lesson-skeleton.html
  .agents/skills/cbf-academy-style/assets/shared-guide-skeleton.html
  .agents/skills/cbf-academy-style/references/academy-style-guide.md
  .agents/skills/cbf-academy-style/scripts/lint_content.py
  .agents/skills/cbf-slides-migration/SKILL.md
  .agents/skills/cbf-slides-migration/references/migration-playbook.md
  .agents/skills/cbf-slides-migration/scripts/course_structure.php
  .agents/skills/cbf-slides-migration/scripts/deck_outline.py
  .claude/skills
  .cursor/skills
  .github/skills
  docs/academy-style-guide.md
  docs/migration-playbook.md
Due: none

chore(release): 0.1.57
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

feat: improve block editor styling
  web/app/themes/cbf-academy/theme.json
  web/app/themes/cbf-jobs/theme.json
Due: none

feat: import content in Draft status
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
  web/app/plugins/cbf-slides-importer/includes/Import/QuizImporter.php
Due: lintjs, lintphp

chore: fix domain replacement for stage syncs
  .lando.yml
  scripts/sync.sh
Due: none

feat: add support for Editorial Comments
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchPlanner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRunner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/CsvParser.php
  web/app/plugins/cbf-slides-importer/includes/Import/EditorialComments.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/tests/Support/wordpress-stubs.php
  web/app/plugins/cbf-slides-importer/tests/Unit/CsvParserTest.php
Due: lintjs, lintphp

test: configure Codeception at root
  .gitignore
  .lando.yml
  codeception.yml
  composer.json
  composer.lock
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/composer.json
  web/app/plugins/cbf-slides-importer/composer.lock
Due: none

fix: serve subsite assets from their own host
  config/application.php
Due: none

style: adapt glossary styles to the CBF Academy theme
  web/app/themes/cbf-academy/assets/css/custom.css
Due: lintcss

fix: version theme assets by modification time
  web/app/themes/cbf-academy/functions.php
Due: none

feat: give glossary terms their own capabilities
  web/app/plugins/cbf-semantic-glossary/README.md
  web/app/plugins/cbf-semantic-glossary/includes/Api/Controller.php
  web/app/plugins/cbf-semantic-glossary/includes/Audit/Auditor.php
  web/app/plugins/cbf-semantic-glossary/includes/Cli/AuditCommand.php
  web/app/plugins/cbf-semantic-glossary/includes/Editor/EditorAssets.php
  web/app/plugins/cbf-semantic-glossary/includes/Entry/Capabilities.php
  web/app/plugins/cbf-semantic-glossary/includes/Entry/PostType.php
  web/app/plugins/cbf-semantic-glossary/includes/Install.php
  web/app/plugins/cbf-semantic-glossary/src/js/editor/modules/config.js
  web/app/plugins/cbf-semantic-glossary/src/js/editor/modules/format.js
  web/app/plugins/cbf-semantic-glossary/src/js/editor/modules/sidebar.js
  web/app/plugins/cbf-semantic-glossary/src/js/editor/modules/term-form.js
  web/app/plugins/cbf-semantic-glossary/src/js/editor/modules/term-search.js
  web/app/plugins/cbf-semantic-glossary/src/sass/editor/cbf-semantic-glossary-editor.scss
  web/app/plugins/cbf-semantic-glossary/tests/Unit/AuditTest.php
Due: lintjs, lintcss, lintphp

style: add a left border and padding to glossary entries
  web/app/themes/cbf-academy/assets/css/custom.css
Due: lintcss

feat: add glossary hooks for content around the list and back-link targets
  web/app/plugins/cbf-semantic-glossary/README.md
  web/app/plugins/cbf-semantic-glossary/includes/Render/GlossaryRenderer.php
  web/app/plugins/cbf-semantic-glossary/tests/Unit/GlossaryRendererTest.php
Due: lintphp

chore(deps): update Composer dependencies
  composer.lock
  web/app/plugins/cbf-multisite/package-lock.json
Due: none

chore(release): 0.1.58
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: avoid disk quota exhaustion
  .github/workflows/deploy-application.yml
Due: none

chore(release): 0.1.59
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

ci: move plugin assets build from server to runner
  .github/workflows/deploy-application.yml
Due: none

Path conditions:
  lintjs: any of: web/app/{themes,plugins}/cbf-*/**/*.js
  lintcss: any of: web/app/{themes,plugins}/cbf-*/**/*.{css,scss}
  lintphp: any of: web/app/{themes,plugins}/cbf-*/**/*.php
