Repository CodingBlackFemales/wordpress: changes, and which lefthook commands are due for each by the changed paths.
All: lintjs, lintcss, lintphp

lefthook.yml:

# Refer to following link for explanation:
# https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md

# Use this to build commit messages
prepare-commit-msg:
  commands:
    commitizen:
      interactive: true
      run: "LEFTHOOK=0;sh -c ': >/dev/tty' > /dev/null 2>&1; if sh -c ': >/dev/tty' >/dev/null 2>/dev/null; then ( exec < /dev/tty && npx cz ) || true 2> /dev/null; fi"
      # run: LEFTHOOK=0 && npx cz

# Use this to validate commit messages
commit-msg:
  commands:
    "lint commit message":
      run: npm run lint:commit --edit ${1}

# Use this to lint files before committing
pre-commit:
  parallel: true
  commands:
    lintjs:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.js"
      run: npm run lint:js -- --fix {staged_files}
      stage_fixed: true
    lintcss:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.{css,scss}"
      run: npm run lint:css -- --fix {staged_files}
      stage_fixed: true
    lintphp:
      glob: "web/app/{themes,plugins}/cbf-*/**/*.php"
      run: ./.phpcbf {staged_files}
      stage_fixed: true

chore(release): 0.1.46
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore(release): 0.1.47
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: replace ternary operator
  config/application.php
Due: none

feat: implement code styling
  composer.json
  composer.lock
  web/app/plugins/cbf-multisite/assets/js/admin/group-block-figure.js
  web/app/plugins/cbf-multisite/assets/js/frontend/cbf-multisite.js
  web/app/plugins/cbf-multisite/includes/Admin/Assets.php
  web/app/themes/cbf-academy/assets/css/custom.css
Due: lintjs, lintcss, lintphp

chore(release): 0.1.48
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

build: fix asset pipeline for CBF plugin
  .github/workflows/deploy-application.yml
  web/app/plugins/cbf-multisite/.gitignore
  web/app/plugins/cbf-multisite/assets/css/admin/cbf-multisite.css
  web/app/plugins/cbf-multisite/assets/css/admin/cbf-multisite.min.css
  web/app/plugins/cbf-multisite/assets/css/frontend/cbf-multisite.css
  web/app/plugins/cbf-multisite/assets/css/frontend/cbf-multisite.min.css
  web/app/plugins/cbf-multisite/assets/images/.gitkeep
  web/app/plugins/cbf-multisite/assets/js/admin/cbf-multisite.asset.php
  web/app/plugins/cbf-multisite/assets/js/admin/cbf-multisite.js
  web/app/plugins/cbf-multisite/assets/js/admin/cbf-multisite.min.asset.php
  web/app/plugins/cbf-multisite/assets/js/admin/cbf-multisite.min.js
  web/app/plugins/cbf-multisite/assets/js/frontend/cbf-multisite.asset.php
  web/app/plugins/cbf-multisite/assets/js/frontend/cbf-multisite.js
  web/app/plugins/cbf-multisite/assets/js/frontend/cbf-multisite.min.asset.php
  web/app/plugins/cbf-multisite/assets/js/frontend/cbf-multisite.min.js
  web/app/plugins/cbf-multisite/package-lock.json
  web/app/plugins/cbf-multisite/package.json
  web/app/plugins/cbf-multisite/src/js/admin/group-block-figure.js
  web/app/plugins/cbf-multisite/src/js/frontend/cbf-multisite.js
Due: lintjs, lintcss, lintphp

ci: test npm path
  .github/workflows/deploy-application.yml
Due: none

ci: set nvm path before invoking npm
  .github/workflows/deploy-application.yml
Due: none

chore(release): 0.1.49
  CHANGELOG.md
  package-lock.json
  package.json
Due: none

chore: vendor slides-to-learndash tool via git-subrepo
  tools/slides-to-learndash/.gitignore
  tools/slides-to-learndash/.gitrepo
  tools/slides-to-learndash/README.md
  tools/slides-to-learndash/pyproject.toml
  tools/slides-to-learndash/scripts/sync-export-rsync.sh
  tools/slides-to-learndash/slides_to_learndash/__init__.py
  tools/slides-to-learndash/slides_to_learndash/blocks.py
  tools/slides-to-learndash/slides_to_learndash/cli.py
  tools/slides-to-learndash/slides_to_learndash/content_postprocess.py
  tools/slides-to-learndash/slides_to_learndash/export_csv.py
  tools/slides-to-learndash/slides_to_learndash/extract.py
  tools/slides-to-learndash/slides_to_learndash/pipeline.py
  tools/slides-to-learndash/slides_to_learndash/rich_text.py
  tools/slides-to-learndash/slides_to_learndash/slide_geometry.py
  tools/slides-to-learndash/slides_to_learndash/slide_merge.py
  tools/slides-to-learndash/slides_to_learndash/slide_visibility.py
  tools/slides-to-learndash/tests/test_columns_layout.py
  tools/slides-to-learndash/tests/test_content_postprocess.py
  tools/slides-to-learndash/tests/test_hidden_slides.py
  tools/slides-to-learndash/tests/test_slide_merge.py
  tools/slides-to-learndash/uv.lock
Due: none

chore: relocate sync export script
  scripts/sync-export-rsync.sh
Due: none

feat: update sync export script
  scripts/sync-export-rsync.sh
Due: none

chore: make skills check export daily
  web/app/plugins/cbf-multisite/includes/Customizations/WP_Cron.php
Due: lintphp
