Repository CodingBlackFemales/wordpress: changes, and which lefthook commands are due for each by the changed paths.
All: lintjs, lintcss, lintphp

lintjs:
  run: npm run lint:js -- --fix {staged_files}
  stage_fixed: true

lintcss:
  run: npm run lint:css -- --fix {staged_files}
  stage_fixed: true

lintphp:
  run: ./.phpcbf {staged_files}
  stage_fixed: true

feat(slides-importer): import PDF and Word documents
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/composer.json
  web/app/plugins/cbf-slides-importer/composer.lock
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
  web/app/plugins/cbf-slides-importer/includes/Api/DriveController.php
  web/app/plugins/cbf-slides-importer/includes/Api/JobController.php
  web/app/plugins/cbf-slides-importer/includes/Api/PreviewController.php
  web/app/plugins/cbf-slides-importer/includes/Document/BlockLayout.php
  web/app/plugins/cbf-slides-importer/includes/Document/BlockRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Document/Ir.php
  web/app/plugins/cbf-slides-importer/includes/Document/ParserFactory.php
  web/app/plugins/cbf-slides-importer/includes/Document/SlideClassifier.php
  web/app/plugins/cbf-slides-importer/includes/Docx/Numbering.php
  web/app/plugins/cbf-slides-importer/includes/Docx/Parser.php
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
  web/app/plugins/cbf-slides-importer/includes/Import/Janitor.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/LearnDashImporter.php
  web/app/plugins/cbf-slides-importer/includes/Import/PreviewRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Pdf/ImageExtractor.php
  web/app/plugins/cbf-slides-importer/includes/Pdf/Parser.php
  web/app/plugins/cbf-slides-importer/includes/Pdf/TextExtractor.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/BlockRenderer.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/GeometryDetector.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/Parser.php
  web/app/plugins/cbf-slides-importer/includes/Pptx/ShapeReader.php
  web/app/plugins/cbf-slides-importer/includes/Utils.php
Due: lintjs, lintphp

docs(slides-importer): add plugin README
  web/app/plugins/cbf-slides-importer/README.md
Due: none

test(slides-importer): add Codeception unit suite
  .lando.yml
  phpcs.xml
  web/app/plugins/cbf-slides-importer/.env.example
  web/app/plugins/cbf-slides-importer/.gitignore
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/cbf-slides-importer.php
  web/app/plugins/cbf-slides-importer/codeception.yml
  web/app/plugins/cbf-slides-importer/composer.json
  web/app/plugins/cbf-slides-importer/composer.lock
  web/app/plugins/cbf-slides-importer/includes/Main.php
  web/app/plugins/cbf-slides-importer/tests/Support/Helper/Fixtures.php
  web/app/plugins/cbf-slides-importer/tests/Support/UnitTester.php
  web/app/plugins/cbf-slides-importer/tests/Support/wordpress-stubs.php
  web/app/plugins/cbf-slides-importer/tests/Unit.suite.yml
  web/app/plugins/cbf-slides-importer/tests/Unit/BlockRendererTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/CorpusTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/DocxParserTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/IrTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/NumberingTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/ParserFactoryTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/PdfParserTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/PptxParserTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/PreviewRendererTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/SlideClassifierTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/_bootstrap.php
  web/app/plugins/cbf-slides-importer/tests/_data/bin/deck.pptx
  web/app/plugins/cbf-slides-importer/tests/_data/bin/document.docx
  web/app/plugins/cbf-slides-importer/tests/_data/bin/slides.pdf
  web/app/plugins/cbf-slides-importer/tests/_data/build-fixtures.php
  web/app/plugins/cbf-slides-importer/tests/assets/.gitkeep
Due: lintphp

docs(slides-importer): record the test framework in the plan
  plans/cbf-slides-importer-plugin.md
Due: none

fix(slides-importer): read drive metadata over http, not the api client
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
Due: lintphp

feat(slides-importer): migrate a whole course from a csv
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Api/BatchController.php
  web/app/plugins/cbf-slides-importer/includes/Api/Router.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchPlanner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchReport.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRepository.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRunner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/CsvParser.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/DriveUrl.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/SectionHeadings.php
  web/app/plugins/cbf-slides-importer/includes/Google/DriveClient.php
  web/app/plugins/cbf-slides-importer/includes/Import/Janitor.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/includes/Install.php
  web/app/plugins/cbf-slides-importer/tests/Support/wordpress-stubs.php
  web/app/plugins/cbf-slides-importer/tests/Unit/BatchReportTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/CsvParserTest.php
  web/app/plugins/cbf-slides-importer/tests/Unit/DriveUrlTest.php
Due: lintjs, lintphp

fix(slides-importer): survive a document that exhausts the worker
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/includes/Import/Janitor.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
Due: lintphp

chore: ignore gzipped sql dumps
  .gitignore
Due: none

fix(slides-importer): place each row as it lands, not at batch end
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRunner.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
Due: lintphp

feat(slides-importer): reuse an existing session instead of skipping it
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchReport.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchRunner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/SectionHeadings.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
Due: lintjs, lintphp

fix(slides-importer): report a batch by what actually went wrong
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/assets/js/admin/cbf-slides-importer.js
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchPlanner.php
  web/app/plugins/cbf-slides-importer/includes/Bulk/BatchReport.php
  web/app/plugins/cbf-slides-importer/includes/Import/JobRunner.php
  web/app/plugins/cbf-slides-importer/tests/Unit/BatchReportTest.php
Due: lintjs, lintphp

fix(slides-importer): count headings when positioning a section
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/includes/Bulk/SectionHeadings.php
  web/app/plugins/cbf-slides-importer/tests/Unit/SectionOrderTest.php
Due: lintphp

fix(slides-importer): cache-bust assets on file modification time
  plans/cbf-slides-importer-plugin.md
  web/app/plugins/cbf-slides-importer/includes/Assets.php
Due: lintphp

feat(slides-importer): navigate between screens with tabs
  web/app/plugins/cbf-slides-importer/README.md
  web/app/plugins/cbf-slides-importer/includes/Admin/ImporterPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/SettingsPage.php
  web/app/plugins/cbf-slides-importer/includes/Admin/Tabs.php
Due: lintphp

Path conditions:
  lintjs: any of: web/app/{themes,plugins}/cbf-*/**/*.js
  lintcss: any of: web/app/{themes,plugins}/cbf-*/**/*.{css,scss}
  lintphp: any of: web/app/{themes,plugins}/cbf-*/**/*.php
